EXPO_PUBLIC_SUPABASE_URL=https://qbewnqhudgwtuhuybnyg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFiZXducWh1ZGd3dHVodXlibnlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzNjkzOTksImV4cCI6MjA4NDk0NTM5OX0.9VtecoEQM1SrvrB6o2MLC1ZQAfSfa5ffxA3bNwggf5g